@media screen and (max-width: 1200px) {
    /* Header */
    .header__container{
        padding: 26px 20px;
    }
     .header__box-nambers{
        flex-direction: column;
        gap:5px
    }
    .header__box-nambers a{
        font-size: 14px;
    }
    .city input{
        padding: 5px;
        width: initial;
     }
    .header__visit-page{
        display: flex;
        align-items:center;
        gap: 10px;
    }
    .header__visit-page img{
        width: 26px;
    }
    .header__visit-page p{
        font-size: 17px;
    }

    /* Hero */
    .hero__container {
        padding: 52px 20px 0px;
    }
    .logo {
        display: flex;
        align-items:center;
        gap: 24px;
    }
    .menu{
        display: none;
    }
    /* Hero block */
    .hero__block::after{
        height: 486px;
    }
    /* Hero text */
    .hero__title {
        font-size: 40px;
        line-height: 40px;
        max-width: 414px;
        margin-top: 73px;
    }
    /* Hero batton */
    .btn {
        font-size: 15px;
        line-height: 18px;
    }

    /* Cards */
    .cards__title {
        font-size: 40px;
        line-height: 46.59px;
        margin-bottom: 46px;
    }
    .cards__title span{
        font-size: 45px;
        line-height: 0px;
    }
    .cards__components {
      grid-template-columns: 1fr;
        padding: 0 0 124px;
    }
    .card__img{
        height: 190px;
    }

    /* Slider */
    .slider__container {
    row-gap:100px;
    background:var(--color-gradient);
    padding: 110px 20px 72px;
    }
    .sliders-card {
        max-width: 536px;
        width: 100%;
    }
    .slider__card-hide{
        display: none;
    }

    /* Footer */
    .footer__container {
        padding: 98px 10px 40px;
    }
    .footer__box-3 input{
        width: auto;
    }
}

@media screen and (max-width:750px) {
    /* Header */
    .header__container{
        flex-direction: column;
        padding: 22px 0px;
    }
    .header__icon-contact-phones{
      display: none;
    }
    .header__city-img{
        display: none;
    }
    /* .city button{
        display: none;
    } */
    .city input{
        text-align: center;
        font-size: 16px;
     }
    .city input::placeholder{
        text-align: center;
        font-size: 16px;
    }
    .header__visit-page{
        display: none;
    }

    /* Hero */
    .hero__container {
        padding: 26px 0px 53px;
    }
    .hero__top {
        justify-content: center;
    }
    .logo {
        gap: 9px;
    }
    .logo__img {
        width: 60px;
    }
    .logo__text {
        font-size: 18px;
        line-height: 21px;
    }
    /* Hero block */
    .hero__block-flex{
        justify-content: center;
    }
    .hero__block-flex::after{
       display: none;
    }
    /* Hero text */
    .hero__title {
        font-size: 25px;
        line-height: 25px;
        max-width: 414px;
        margin-top: 33px;
        text-align: center;
    }
    .hero__subtitle {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    /* Jero button */
    .hero__button{
        text-align: center;
    }

    /* Cards */
    .cards__container {
       padding: 0 10px;
    }
    .cards__title {
        font-size: 25px;
        line-height: 23.59px;
        margin-bottom: 46px;
    }
    .cards__title span{
        font-size: 30px;
        line-height: 0px;
    }
    .cards__components {
        flex-direction: column;
        padding: 0 0 103px;
    }
    .card__img{
        height: 179px;
    }
    .card__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .card__title h3 {
        font-size: 19px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .card__subtitle p {
        font-size: 16px;
    }

    /* Slider */
    /* .sliders-card {
        position: relative;
        background-color:var(--background-color);
        max-width: 536px;
        padding: 63px 18px 20px;
        border-radius:20px;
    } */

    /* Footer */
    .footer__container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .footer__box-1, .footer__box-2, .footer__box-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;
        width: 100%; 
    }
    .footer__box-3 input{
        text-align: center;
    }
    .footer__box-3 input::placeholder{
        text-align: center;
    }
    .footer__subtitle{
        text-align: center;
        font-size: 12px;
    }

     /* Form */
     .form {
        padding: 20px 10px;
    }
    .form__title {
        font-size: 20px;
    }
}